---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { buttonVariants } from "@/components/ui/button";
import { formatDate, cn } from "@/lib/utils";
import { Callout } from "@/components/callout";
import { MdxCard } from "@/components/mdx-card";
import { Tip } from "@/components/tip";
import { Image } from "@/components/Image";
import "@/styles/mdx.css";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout
  title={post.data.title}
  description={post.data.description}
>
  <article class="container relative max-w-3xl py-6 lg:py-10">
    <a
      href="/blog"
      class={cn(
        buttonVariants({ variant: "ghost" }),
        "absolute left-[-200px] top-14 hidden xl:inline-flex"
      )}
    >
      <svg class="mr-2 h-4 w-4" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m15 18-6-6 6-6"/>
      </svg>
      See all posts
    </a>
    <div>
      {post.data.date && (
        <time
          datetime={post.data.date.toISOString()}
          class="block text-sm text-muted-foreground"
        >
          Published on {formatDate(post.data.date)}
        </time>
      )}
      <h1 class="mt-2 mb-4 inline-block font-heading text-4xl lg:text-5xl">
        {post.data.title}
      </h1>
    </div>
    {post.data.image && (
      <img
        src={post.data.image}
        alt={post.data.title}
        width="720"
        height="405"
        class="my-8 rounded-md border bg-muted transition-colors"
      />
    )}
    <div class="prose prose-slate dark:prose-invert max-w-none">
      <Content components={{ Callout, MdxCard, Tip, Image }} />
    </div>
    <hr class="mt-12" />
    <div class="flex justify-center py-6 lg:py-10">
      <a href="/blog" class={cn(buttonVariants({ variant: "ghost" }))}>
        <svg class="mr-2 h-4 w-4" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m15 18-6-6 6-6"/>
        </svg>
        See all posts
      </a>
    </div>
  </article>
</Layout>